<p>
  <strong>Title:</strong>
  <%= @blog.blog_title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @blog.blog_text %>
</p>

<%= link_to 'Back', blogs_path %>

<style>
    html,body{background:#222;margin:0;}
</style>