<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  This is all about ruby on rails test
</p>
<p>
  <tr><%= link_to "Home",    '/' %></tr>
</p>
<%= link_to image_tag("deadpool.jpg", alt: "deadpool"), 'http://rubyonrails.org/' %>

<style>
    html,body{background:#222;margin:0;}
</style>

<script>
    Galleria.loadTheme("<%= javascript_path('galleria.classic.js') %>");
</script>