<% provide(:title, 'Contact') %>
<h1>Contact Page</h1>
<script type="text/javascript" src="../javascripts/galleria-1.3.3.min.js"></script>
<script type="text/javascript" src="../javascripts/galleria.classic.min.js"></script>
<p>
  Email: <%=mail_to "chenjiajie@live.cn", 'chenjiajie@live.cn' %>
</p>
<p>
  Linkedin:  <%= link_to "Linkedin", 'http://www.linkedin.com/profile/view?id=246975789' %>
</p>
<style>
    html,body{background:#DCDCDC;margin:0;}
</style>

