<% provide(:title, 'Contact') %>
<h1>Contact Page</h1>
<p>
  Email: chenjiajie@live.cn
<li><%= link_to "Home",    '/' %></li>
</p>

<%= link_to image_tag("deadpool2.jpg", alt: "deadpool"), 'http://rubyonrails.org/' %>