<% provide(:title, 'Home') %>
<h1>Home Page</h1>
<p>
  Welcome to my website. This is home page
</p>
<p>
  <a class="twitter-timeline" href="https://twitter.com/chen_jiajie" data-widget-id="422180755658141696">Tweets by @chen_jiajie</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</p>