<% provide(:title, 'Home') %>
<h1>Home Page</h1>
<style>
    html,body{background:#222;margin:0;}
</style>
<h2>
  Welcome to my website. This is home page
</h2>
<p>
  This website is set up for my Ruby on Rails test.
</p>
<p>
  Currently three functions are provided: Twitter Gadget, Gallery and  Blog. Gallery is fulfilled with Paperclip as backend, Galleria as frontend, Amazon S3 as storage.
</p>
<twitter>
  <a class="twitter-timeline" href="https://twitter.com/chen_jiajie" data-widget-id="422180755658141696">Tweets by @chen_jiajie</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</twitter>