<% provide(:title, 'Home') %>
<h1>Home Page</h1>
<script type="text/javascript" src="../javascripts/galleria-1.3.3.min.js"></script>
<script type="text/javascript" src="../javascripts/galleria.classic.min.js"></script>
<style>
    html,body{background:#DCDCDC;margin:0;}
    p{ color: #696969; }
</style>
<p>
  This website is set up for my Ruby on Rails test. It requires login to upload/edit/delete photo and blog
</p>
<p>
  Currently 3 functions are provided: Gallery, Blog and Twitter Search. Gallery is fulfilled with Paperclip as backend, Galleria as frontend, Amazon S3 as storage.
  Twitter Search returns latest 3 tweets for the key word typed.
</p>
<p>
  Twitter Search is offline for further testing now. I found a bug which makes it not strong enough.
</p>
