<% provide(:title, 'Home') %>
<h1>Home Page</h1>
<style>
    html,body{background:#222;margin:0;}
</style>
<h2>
  Welcome to my website. Checkout functions on the banner!
</h2>
<p>
  This website is set up for my Ruby on Rails test.
</p>
<p>
  Currently three functions are provided: Twitter Gadget(TBD..), Gallery and  Blog. Gallery is fulfilled with Paperclip as backend, Galleria as frontend, Amazon S3 as storage.
</p>
