<% provide(:title, 'Gallery') %>
<h1>Gallery</h1>
<h2><%= link_to 'Upload A New Photo', new_gallery_path, class: 'new-gallery' %> | <%= link_to 'Manage Photo', "galleries/manage", class: 'manage-gallery' %> </h2>

<head>
  <!-- load jQuery -->
  <!-- script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script -->
  <script type="text/javascript" src="../javascripts/galleria-1.3.3.min.js"></script>
  <script type="text/javascript" src="../javascripts/galleria.classic.min.js"></script>

  <style>
       #galleria{height: 320px}
  </style>
</head>
<body>
<div id="galleria">
  <% x=Gallery.count   %>
  <% x.times do  %>
      <% id=Gallery.ids[x-1]   %>
      <% x=x-1   %>
  <%= images_url(id) %>
  <% end  %>
</div>
<script>
    Galleria.loadTheme("<%= javascript_path('galleria.classic.js') %>")
    Galleria.run("#galleria");
</script>
</body>

