<% provide(:title, 'Gallery') %>
<h1>Manage Gallery</h1>
<h2> <%= link_to 'Back To Gallery' ,galleries_path %> </h2>
<script type="text/javascript" src="../javascripts/galleria-1.3.3.min.js"></script>
<script type="text/javascript" src="../javascripts/galleria.classic.min.js"></script>

<div class="gallery" >
  <div class="front">
    <% x=Gallery.count   %>
    <% x.times do  %>
        <% id=Gallery.ids[x-1]   %>
        <% x=x-1   %>
        <li> <%= images_url(id) %>          </li>
        <li> <%= link_to 'Delete',  Gallery.find_by_id(id), confirm: 'Are you sure you want to delete photo?', method: :delete, class: 'destroy' %>   </li>
    <% end  %>
   </div>
</div>
<style>
    html,body{background:#DCDCDC;margin:0;}
    p{ color: #696969; }
</style>
