<% provide(:title, 'Gallery') %>
<h1>Manage Gallery</h1>
<h2> <%= link_to 'Back To Gallery' ,galleries_path %> </h2>

<div class="gallery" >
  <div class="front">
    <% x=Gallery.count   %>
    <% x.times do  %>
        <% id=Gallery.ids[x-1]   %>
        <% x=x-1   %>
        <li> <%= images_url(id) %>          </li>
        <li> <%= link_to 'Delete',  Gallery.find_by_id(id), confirm: 'Are you sure you want to delete photo?', method: :delete, class: 'destroy' %>   </li>
    <% end  %>

  </div>


</div>