<h1>Add a photo</h1>
<script type="text/javascript" src="../javascripts/galleria-1.3.3.min.js"></script>
<script type="text/javascript" src="../javascripts/galleria.classic.min.js"></script>
<%= render 'form' %>
<style>
    html,body{background:#DCDCDC;margin:0;}
    p{ color: #696969; }
</style>
